body {
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.choicesArea {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.choiceTitle {
    margin-bottom: 80px;
}

.choiceBoxes {
    display: flex;
    gap: 160px;
}

.choices {
    text-align: center;
}